
html, body {
  background-color: #2D2A27;
  color: #EEE;
  text-align: center;
}

h1 {
  font-family: serif;
  margin: 30px;
  font-size: 4em;
  text-shadow: #000 2px 2px 1px;
}

a {
  text-decoration: none;
}

a:link {
  color: #FAA;
}

a:hover {
  color: #FCC;
}

a:active {
  color: #FFF;
}

a:visited {
  color: #AFA;
}

.graph {
  width: 100%;
  height: 500px;
}

.emph {
  font-style: italic;
  color: #955;
}

#graphs {
  position: relative;
  width: 1000px;
  margin: auto;
}

/*
 * Tree views
 */

.treeNode {
}

.treeNodeTitle {
  margin-left: 2em;
  position: relative;
}

.treeValue {
  display: inline-block;
  font-weight: bold;
  color: #FEE;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.treeValuePct {
  display: inline-block;
  color: #D55;
  margin-right: 0.5em;
  font-size: 0.6em;
}

.treeExpandClicker {
  float: left;
  vertical-align: middle;
  font-family: monospace;
  font-size: 1.2em;
  width: 2em;
  margin-left: -2em;
  color: #777;
}

.subtree {
  margin-left: 2em;
  border-left: 2px solid #744;
}

/*
 * Tooltip
 */
.tooltip {
  font-family: sans-serif;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  position: absolute;
  width: 250px;
  pointer-events: none;
  overflow: hidden;
}

.tooltip.zoomed {
  pointer-events: inherit;
  overflow: auto;
}

.tooltip h2, p {
  line-height: inherit;
  margin: inherit;
}

