
/*
 * Copyright © 2012 Mozilla Corporation
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

html, body {
  background-color: white;
  color: black;
  font-family: Verdana, sans-serif;
}

h1 {
  margin: 30px;
  font-size: 4em;
  text-shadow: #aaa 2px 2px 1px;
  text-align: center;
}

h2 {
  margin: 1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

a {
  text-decoration: none;
  outline: none;
}

a:link {
  color: #E77;
}

a:hover {
  color: #FCC;
}

a:active {
  color: #FFF;
}

a:visited {
  color: #AFA;
}

a:visited:hover {
  color: #EFE;
}

.graph {
  width: 100%;
  height: 800px;
}

.emph {
  font-style: italic;
  color: #955;
}

#graphs {
  position: relative;
  width: 1000px;
  margin: auto;
}

#graphs h2, #graphs h3 {
  text-align: center;
}

#footer {
  margin-top: 50px;
}

.legendLabel, .tickLabel {
  color: #555;
}

.zoomSelector, #zoomOutButton {
  position: absolute;
  font-size: 80%;
  color: #555;
}

.zoomSelector {
  padding-top: 11px;
  opacity: 0; /* Start hidden */
  background-color: rgba(220,220,220,0.5);
  text-align: center;
}

#zoomOutButton {
  cursor: pointer;
  top: 15px;
  right: 15px;
}

#zoomOutButton:hover {
  text-decoration: underline;
}

.note, .small {
  font-weight: normal;
}

.note { font-size: 80%; }
.small { font-size: 50%; }
.error { color: #D99; }
.success { color: #9D9; }

/*
 * Internal status page
 */

.statusPage {
  text-align: center;
}

.statusTableBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.statusTable {
  border-spacing: 5px;
  width: 100%;
  display: table;
}

.statusRow {
  display: table-row;
  margin: 5px;
}

.statusCell {
  padding: 5px;
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.02);
}

.statusRow.title {
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.05);
}

.statusPage #reqNote { padding: 10px; }
.statusPage #requestBuilds input {
  margin: 5px;
}

/*
 * Tree views
 */

.treeNode {
}

.highlight {
  background-color: rgba(150, 75, 75, 0.2);
}

.treeNodeTitle {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.treeNodeTitle:hover .treeExpandClicker {
  color: #FCC;
}

.treeNodeTitle .subtitle {
  font-size: 0.8em;
  color: #AAA;
}

.treeValue {
  display: inline-block;
  font-weight: bold;
  color: #FEE;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.treeValuePct {
  display: inline-block;
  color: #D55;
  margin-right: 0.5em;
  font-size: 0.6em;
}

.treeExpandClicker {
  float: left;
  vertical-align: middle;
  font-family: monospace;
  font-size: 1.2em;
  width: 2em;
  margin-left: -2em;
  color: #E77;
}

.subtree {
  margin-left: 2em;
  border-left: 2px dashed #555;
}

/*
 * Tooltip
 */
.tooltip {
  font-family: sans-serif;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 5px;
  padding: 15px;
  line-height: 1.4em;
  text-align: left;
  position: absolute;
  width: 350px;
  pointer-events: none;
  overflow: hidden;
}

.tooltip.zoomed {
  pointer-events: inherit;
  overflow-y: auto;
}

.memoryTree {
  margin-top: 5px;
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.2);
}

.memoryTree .treeTitle {
  padding: 5px;
}

.closeButton {
  color: #CCC;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: monospace;
  font-size: 1.5em;
  cursor: pointer;
}

.tooltip h2, p {
  line-height: inherit;
  margin: inherit;
}

